{% extends 'base.html' %}

{% block title %}
Membership Plans
{% endblock title %}

{% block body %} 

<style>
    .card-body{
        height: auto;
        width: 100%;
    }

    .card-img-top{
        height: 300px;
        width: 322px;
    }
</style>
<div class="container mt-2">
    <h1 >Membership Plans</h1><br>
    <div class="row">
        {% for plan in membership_plans %}
        <div class="col-md-4">
            <div class="card plan-card">
                <div class="card-body">
                    <!-- Display the plan image -->
                    <img src="{{ plan.img.url }}" class="card-img-top" alt="Plan Image">
                    <p class="card-text">{{ plan.plan }}</p>
                    <div class="d-grid gap-2">
                    <a href="{% url 'membership_plans_details' plan.id %}"  class="btn btn-primary mt-3"  style="background-color: #EC3642;">View Details</a>
                      </div>
                </div>               
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock body %}