{% extends 'base.html' %}

{% block title %}
Plans Details
{% endblock title %}

{% block body %}
<style>
  /* Custom CSS to center the container */
  .custom-container {
      max-width: 500px; /* Adjust the max-width as needed */
      margin: 0 auto; /* Centering the container */
      padding: 0 15px; /* Adding some padding to the sides */
  }
</style>

<div class="container custom-container mt-5"> <!-- Add custom-container class -->
  <h1>Plan Details</h1>
  <div class="card mt-3">
      <div class="card-body">
          <img src="{{ plan.img.url }}" class="card-img-top" alt="Plan Image">                
          <p class="card-text">{{ plan.plan }} - {{ price.price }}</p><br>
          <p class="card-text">{{ plan.plandetails }}</p>
          <a href="{% url 'enroll'  %}" class="btn btn-primary mt-3">Buy Now</a>
      </div>
  </div>
</div>
{% endblock body %}