{% extends "base.html" %}
{% block title %}
Reset Password
{% endblock title %}
{% block head %}
<h1>Password Reset</h1>
<br> <p style="color:white;"> Forgeten Your Passwor ?. enter your email address below, and we'll email instriuctions for setting a new one</p>
<div class="container mt-2">
  <div class="row">
    <div class="col-md-3"> </div>
      <div class="col-md-6">
        <form action="/reset_password/" method="POST">{% csrf_token %}
          <div class="form-group">
          {% comment %} {{form.as_p}} {% endcomment %}
            <input type="email" class="form-control" name="email" placeholder="Email" required>
          </div><br>
         <div class="d-grid gap-2">
           <button class="btn btn-light" type="submit">submit</button>
         </div> 
    
        </form>
    
    
    
    </div>
    
    <div class="col-md-3"></div>
    
    </div>
    
    
    
    </div>

{% endblock head %}


