{% extends 'base.html' %}

{% block title %}
Reset Password
{% endblock title %}

{% block body %} 

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h1 class="text-center">Reset Password</h1>
                    <form method="post">
                        {% csrf_token %}
                        <!-- Render each form field manually -->
                        <div class="mb-3">
                            <label for="id_new_password1" class="form-label">New Password:</label><br>
                            {{ form.new_password1 }}
                        </div>
                        <div class="mb-3">
                            <label for="id_new_password2" class="form-label">Confirm New Password:</label><br>
                            {{ form.new_password2 }}
                        </div>
                        
                        <!-- Button styled like a div -->
                        <div class="d-grid gap-2">
                            <button type="submit" class="btn btn-primary mt-3" style="background-color: #EC3642;">Reset Password</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock body %}
