{% extends 'base.html' %}
{% block title %}
Services
{% endblock title %}
{% block body %}
{% load static %}
<h1></h1>
<main id="main">
<section id="about" class="about">
                <div class="container" data-aos="fade-up">
                  <div class="row">                      
                    <div class="section-title" style="margin-bottom:40px;">
                      <h2>Services</h2>
                      <p>Sigma Gym Services</p>
                    </div>            
                      <!-- first img -->
                        <div class="col-md-6" data-aos="fade-right" data-aos-delay="100">
                         <img src="{% static 'assets/img/services/24-hourse.jpg' %}" class="img-fluid" alt="Responsive image" style="margin-bottom:25px;">
                        </div>
                        <div class="col-md-6" data-aos="fade-right" data-aos-delay="100">
                          <h4><b>Open 24hrs</b></h4>
                          <style>
                           p {
                            margin-top:-1px;
                           }
                          </style>
                          <p>
                            "Open 24hrs," the beacon of dedication to fitness enthusiasts, offers unparalleled convenience and flexibility. In a bustling world where schedules vary, this gym ensures accessibility at any hour, accommodating early risers and night owls alike. Embracing the mantra of "no excuses," it beckons individuals to pursue their fitness goals on their own terms, fostering a culture of commitment and perseverance. Whether it's a dawn workout to kickstart the day or a late-night session to unwind, this 24-hour sanctuary empowers individuals to prioritize their well-being around the clock. With its doors always open, it stands as a testament to the unwavering pursuit of health and vitality.
                          </p>
                        </div>  
                      <!-- first img end -->  
                        
                      <!-- second img -->
                        <div class="col-md-6" data-aos="fade-left" data-aos-delay="100">
                          <h4><b>reduced price</b></h4>
                          <p>
                            Joining a gym at a reduced price offers an enticing opportunity to kickstart your fitness journey without breaking the bank. With discounted memberships, individuals can access top-notch facilities and professional guidance without compromising their budget. These reduced prices not only make fitness more accessible but also encourage a broader demographic to prioritize their health and well-being. Whether it's a limited-time promotion or a special offer, taking advantage of reduced prices for gym memberships can lead to long-term benefits for both physical and mental health. So why wait? Seize the opportunity to invest in yourself and embark on a path to a healthier lifestyle today.
                          </p>
                        </div>  
                        <div class="col-md-6" data-aos="fade-left" data-aos-delay="100">
                          <img src="{% static 'assets/img/services/reduced-price.jpg' %}" class="img-fluid" alt="Responsive image" style="margin-bottom:25px;">
                        </div>
                      <!-- second img end -->  
            
                      <!-- third img -->
                      <div class="col-md-6" data-aos="fade-right" data-aos-delay="100">
                        <img src="{% static 'assets/img/services/area.jpg' %}" class="img-fluid" alt="Responsive image" style="margin-bottom:25px;">
                       </div>
                       <div class="col-md-6" data-aos="fade-right" data-aos-delay="100">
                         <h4><b>22,000sqft area!</b></h4>
                         <style>
                          p {
                           margin-top:-1px;
                          }
                         </style>
                         <p>
                          Transforming fitness dreams into reality, our gym boasts an expansive 22,000 square feet of space, designed to ignite your passion for health and wellness. With ample room for cutting-edge equipment and dynamic workout zones, every corner invites you to push your limits and reach new heights. From spacious cardio areas to dedicated strength training sections, our facility caters to every fitness enthusiast's needs. Embrace the freedom to explore diverse workout routines and engage in group classes, all within the vast expanse of our fitness sanctuary. Experience the power of unlimited potential within these 22,000 square feet, where every step brings you closer to your fitness goals.
                         </p>
                       </div>  
                     <!-- third img end --> 

                        <!-- fourth img -->
                        <div class="col-md-6" data-aos="fade-left" data-aos-delay="100">
                          <h4><b>Personal Training</b></h4>
                          <p>
                            Personal training offers a tailored fitness experience, providing individuals with personalized workouts designed to meet their specific goals and needs. With the guidance of a qualified personal trainer, clients receive expert advice on exercise techniques, nutrition, and lifestyle adjustments to maximize results. These one-on-one sessions foster accountability and motivation, ensuring consistent progress towards fitness objectives. Whether aiming to lose weight, build muscle, or enhance overall health, personalized training offers a customized approach for optimal success. Investing in personal training not only yields physical benefits but also cultivates a deeper understanding of wellness, empowering individuals to lead healthier, more fulfilling lives.
                          </p>
                        </div>  
                        <div class="col-md-6" data-aos="fade-left" data-aos-delay="100">
                          <img src="{% static 'assets/img/services/Ptrainer.jpg' %}" class="img-fluid" alt="Responsive image" style="margin-bottom:25px;">
                        </div>
                      <!-- fourth img end -->  

                      
                      <!-- fifth img -->
                      <div class="col-md-6" data-aos="fade-right" data-aos-delay="100">
                        <img src="{% static 'assets/img/services/yoga.jpg' %}" class="img-fluid" alt="Responsive image" style="margin-bottom:25px;">
                       </div>
                       <div class="col-md-6" data-aos="fade-right" data-aos-delay="100">
                         <h4><b>Yoga Classes</b></h4>
                         <style>
                          p {
                           margin-top:-1px;
                          }
                         </style>
                         <p>
                          Experience tranquility and strength through our invigorating yoga classes at the gym. Led by seasoned instructors, our sessions offer a holistic approach to fitness, focusing on flexibility, balance, and mindfulness. Whether you're a beginner or an advanced yogi, our diverse range of classes caters to all levels and preferences. Join our community and embark on a journey of self-discovery and wellness as you cultivate a deeper connection between mind, body, and spirit. Elevate your fitness routine with the transformative power of yoga.
                         </p>
                       </div>  
                     <!-- fifth img end --> 
                      
                          <!-- sixth img -->
                          <div class="col-md-6" data-aos="fade-left" data-aos-delay="100">
                            <h4><b>Top of the line equipment</b></h4>
                            <p>
                              Equipping your gym with top-of-the-line equipment is essential for providing an unparalleled fitness experience. From state-of-the-art cardio machines to cutting-edge weightlifting apparatus, investing in quality gear ensures optimal performance and safety for users. Premium equipment not only enhances workout effectiveness but also attracts fitness enthusiasts seeking the best facilities. With advanced features and ergonomic designs, top-of-the-line gear offers comfort and versatility, catering to diverse fitness goals and abilities. Elevate your gym's reputation and clientele satisfaction by outfitting it with the finest equipment available.
                            </p>
                          </div>  
                          <div class="col-md-6" data-aos="fade-left" data-aos-delay="100">
                            <img src="{% static 'assets/img/services/equipment.jpg' %}" class="img-fluid" alt="Responsive image" style="margin-bottom:25px;">
                          </div>
                        <!-- sixth img end -->  
                  </div>
                </div>
              </section>
            </main>
{% endblock body %}